@model VeriBilisimFinal.Models.Aday

<form method="post" asp-action="Update">
    <div class="border p-3">
        <input asp-for="AdayID" hidden />
        <div class="form-group row">
            <h2 class="text-black-50 p1-3">Güncelle Aday</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aday Ad :</span>
                        <input type="text" asp-for="AdayAdi" asp-validation-for="AdayAdi" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aday Soyad :</span>
                        <input type="text" asp-for="AdaySoyadi" asp-validation-for="AdaySoyadi" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aday İşyeri :</span>
                        <input type="text" asp-for="IsyeriAdi" asp-validation-for="IsyeriAdi" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aday Pozisyon :</span>
                        <input type="text" asp-for="Pozisyon" asp-validation-for="Pozisyon" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aday İli :</span>
                        <input type="text" asp-for="IL" asp-validation-for="IL" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aday İlçesi :</span>
                        <input type="text" asp-for="Ilce" asp-validation-for="Ilce" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Açıklama :</span>
                        <input type="text" asp-for="Aciklama" asp-validation-for="Aciklama" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Seyahat Engeli :</span>
                        <input type="text" asp-for="SeyahatEngeli" asp-validation-for="SeyahatEngeli" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>

                </div>



                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75 " value="Güncelle" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Geri</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />

    }}





